@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-tap-highlight-color: transparent;
}

@keyframes loading-bar {
    0% {
        width: 0%;
        transform: translateX(-100%);
    }
    50% {
        width: 50%;
        transform: translateX(50%);
    }
    100% {
        width: 100%;
        transform: translateX(200%);
    }
}

.animate-loading-bar {
    width: 30%;
    animation: loading-bar 1.5s infinite ease-in-out;
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
